# OS
.DS_Store

# Logs
*.log

# Node
node_modules/

# Vite / React
web-frontend/dist/

# Android / Gradle
android-app/.gradle/
android-app/**/build/
android-app/local.properties

# IntelliJ / Android Studio
.idea/
*.iml

# VSCode
.vscode/

# Env
.env
.env.local
.env.*.local

# Firebase service account keys
keyboardapp-f2bfb-firebase-adminsdk-fbsvc-1e64caa89d.json
